<html>

<head>
  <title>Real-Time Object detection</title>
  <style>
    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <img src=" {{ url_for('video_feed') }}">
  </div>
</body>

</html>